<suite name="Cucumber Test Suite" parallel="tests" thread-count="4">
    <listeners>
        <listener class-name="utils.AnnotationTransformer" />
    </listeners>
    <test name="Cucumber Tests">
        <classes>
            <class name="testrunners.CucumberTestRunner" />
        </classes>
    </test>
</suite>
